*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.topsection-cont{
    background-color: rgb(201, 240, 253);
    background-image: url('bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:650px;
}

.topsection{
    padding: 50px 60px;
}

.topnav{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 25px;
}

.link{
    background-color: white;
    padding: 10px 50px;
    border-radius: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
    transform: scale(0.98);
    cursor: pointer;
    opacity: 80%;
}

.mid-sec{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 130px;
}

.text{
    padding-top: 100px;
}

.text :nth-child(2){
    padding: 30px 0;
}

.mid-sec img{
    height: 470px;
    width: 670px;
}


/* Main Content */
.cards-cont{
    margin: 100px 50px;
}

.cards{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 100px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.s-cards{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.cards-text{
    margin: 100px;
}

.cards-text :nth-child(2){
    padding: 30px 0;
    opacity: 70%;
}

.s-cards-text{
    margin: 100px;
}

.s-cards-text :nth-child(2){
    padding: 30px 0;
    font-size: 17px;
    opacity: 70%;
}

.cards img{
    margin: 20px;
    height: 300px;
    width: 400px;
}

.s-cards img{
    padding: 50px;
    height: 350px;
    width: 550px;
}

.box-cont{
    height: 90px;

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 500px;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    overflow: visible;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

/* Footer */
.footer{
    color: white;
}
.container-2{
    background-color: rgb(4, 34, 37);
    padding: 100px 50px 30px 100px;
}

.grid{
    display: grid;
    grid-template-columns: 40% 20% 20% 10%;
}

.grid p{
    padding: 10px 0;
}

.grid a{
    color: white;
}

.footer-logo{
    font-size: 50px;
    font-weight: 700;
}

.footer-logo img{
    height: 40px;
    width: 50px;
}

.location{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 360px;
}

.grid i{
    padding: 0 10px;
}

.grid :nth-child(4){
    display: grid;
    grid-template-columns: 50% 50% 20%;
}

.grid :nth-child(2) p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.grid img{
    width: 20px;
    height: 15px;
    border-radius: 2px;
    margin: 0 10px;
}

.grid a{
    padding: 10px 0;
    border: solid white 1px;
    border-radius: 100%;
}

.grid a:hover{
    cursor: pointer;
    color: #fd6cba;
    border: solid #fd6cba 1px;
}

.footer .Copyright{
    text-align: right;
}

/* Buttons */
.btn{
    background-color: #fd6cba;
    color: white;
    padding: 20px 0;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.btn:hover{
    transform: scale(0.98);
    cursor: pointer;
    opacity: 80%;
}

/* utilities */

.t{
        color: rgb(0, 42, 44);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}

.pxn{
    padding-left: 8px;
}

/* Tablets */
@media(max-width: 768px){
    .topsection-cont{
        height: 1150px;
        background-image: url('bg-hero-mobile.svg');
    }

    .mid-sec{
        grid-template-columns: 1fr;
    }

    .text{
        margin: auto;
        text-align: center;
        width: 500px;
    }

    .text .btn{
        margin: auto;
    }

    .mid-sec img{
        height: 470px;
        width: 100%;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0% 100%;
        height: 700px;
        text-align: center;
    }

    .cards img{
        margin: auto;
    }

    .s-cards{
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        height: 700px;
        text-align: center;
    }

    .s-cards img{
        margin: auto;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .mxn i{
        padding-left: 0;
    }

    .mxn img{
        margin-left: 0;
    }


    .pyp{
        padding-top: 30px;
    }

    .grid :nth-child(4){
        padding-top: 20px;
        justify-content: center;
        grid-template-columns: 10% 10% 5%;
    }

    .footer .Copyright{
        text-align: center;
        padding-top: 30px;
    }
}

/* Mobile */
@media(max-width: 600px){
    .topsection-cont{
        height: 1000px;
        background-image: url('bg-hero-mobile.svg');
    }

    .topsection{
        padding: 40px 20px;
    }

    .link{
        font-size: 10px;
        padding: 6px 20px;
        margin-right: 0;       
    }
    
    .text{
        text-align: center;
        width: 350px;
    }

    .mid-sec img{
        height: 300px;
        margin: auto;
    }

    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        height: 700px;
        text-align: center;
    }

    .cards-text{
        margin: 50px 100px 0 30px;
    }

    .cards img{
        height: 350px;
        width: 300px;
        margin:30px 100px 0 50px;
    }

    .s-cards{
        grid-template-columns: 1fr;
        grid-template-rows:40% 60%;
    }

    .s-cards img{
        padding: 0;
        margin-top: 5%;
        height: 300px;
        width: 300px;
    }

    .s-cards-text{
        margin: auto;
        width: 300px;
    }

    .box{
        width: 400px;
    }

    .box h2{
        font-size: 20px;
    }

    .container-2{
        padding: 100px 50px 30px 50px;
    }

    .location{
        grid-template-columns: 7% 93%;
    }

    .grid :nth-child(4){
        grid-template-columns: 15% 15% 5%;
    }
}

@media screen and (max-width: 450px){
    .topsection{
        padding: 30px 10px;
    }

    .topsection-cont{
        height: 800px;
    }

    .logo{
        height: 20px;
    }

    .link{
        font-size: 15px;
        padding: 6px 30px;

    }

    .text{
        padding-top: 0;
        margin: auto;
        text-align: center;
        max-width: 90%;
    }

    .text h1{
        font-size: 20px;        
    }

    .btn{
        padding: 15px 0;
        max-width: 250px;
    }

    .mid-sec{
        grid-template-rows: 0% 100%;
    }

    .mid-sec img{
        margin: auto;
        height: 330px;
        max-width: 90%;
    }

    .cards-cont{
        margin: 100px 20px;
    }

    .cards{
        height: 600px;
        display: grid;
        grid-template-rows: 0% 100%;

    }

    .s-cards{
        grid-template-rows: 60% 30%;
        height: 600px;
    }

    .cards-text{
        margin: auto;
        padding-top: 50px;
        width: 90%;
    }

    .cards img{
        height: 300px;
        max-width: 250px;
        margin: auto;
    }

    .s-cards img{
        padding: 0;
        margin: auto;
        height: 250px;
        max-width: 250px;
    }

    .s-cards-text{
        padding: 0;
        margin: auto;
        max-width: 270px;
    }

    .box{
        max-width: 300px;
    }

    .box h2{
        font-size: 15px;
    }

    .container-2{
        padding: 100px 50px 30px 20px;
    }

    .location{
        max-width: 300px;
    }
}